@page "/tictactoe"
@inject ILogger<Counter> logger
<h3>GameBoard</h3>



<div class="d-flex flex-wrap gameBoard">
    @foreach (var square in state.Squares)
    {
        <div class="box d-flex justify-content-center align-items-center @square.Value.IconClass"
            @onclick="@(() => {
                if(square.Value.Icon == -1){
                    square.Value.Icon = _playerTurn ? 1 : 0;
                    _playerTurn = !_playerTurn;
                    _turnCount++;
                    if(_turnCount > 4){
                        var winner = state.CheckWin();
                        if(winner != -1){
                            switch(winner){
                                case 1:
                                    ModalText = "X Player WON!";
                                    break;
                                case 0:
                                    ModalText = "O Player Won!";
                                    break;
                            }
                            ShowAlert = true;
                        }
                    }
                    if(_turnCount == 9){
                        ShowAlert = true;
                    }
                }
            })"
        ></div>
    }
</div>


<!-- Modal -->
<Modal Show="@ShowAlert">
    <strong>@ModalText</strong>
</Modal>
@code {
    private GameState state = new GameState();
    private bool _playerTurn = true;
    private int _turnCount = 0;
    public bool ShowAlert { get; set; } = false;
    public void ToggleAlert() => ShowAlert = !ShowAlert;
    public string ModalText { get; set; } = "Draw Game!";
}
