
.gameBoard {
    width:308px;
    height:308px;
    border:4px solid black;
}

.box {
    width: 100px;
    height: 100px;
    margin:0;
    padding:0;
}
div.box:nth-child(odd) {
    background-color:mediumslateblue;
}
div.box:nth-child(even){
    background-color:white;
}



.green {
    background-color:aliceblue;
}

.red {
    background-color:skyblue;
}

.black {
    background-color:black;
}