@page "/logging"

<button class="btn btn-primary" @onclick="LogToVsOutput">Visual Studio Output</button>

<button class="btn btn-success" @onclick="JsAlert"> JS Alert</button>

<button class="btn btn-danger" @onclick="JsConsoleLog">JS Console Log</button>