@page "/flex"
<PageTitle>Flex Box Demo</PageTitle>

<div class="flex-column justify-content-between align-items-center">
    <div class="p-2" id="redBox"></div>
    <div class="p-2" id="blueBox"></div>
    <div class="p-2" id="orangeBox"></div>
    <div class="p-2" id="greenBox"></div>
    <div class="p-2" id="redBox"></div>
    <div class="p-2" id="blueBox"></div>
    <div class="p-2" id="orangeBox"></div>
    <div class="p-2" id="greenBox"></div>
</div>



@code {

}
