.redBox {
    width: 50px;
    height: 50px;
    background-color: red;
}

.blueBox {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.greenBox {
    width: 50px;
    height: 50px;
    background-color: green;
}

.orangeBox {
    width: 50px;
    height: 50px;
    background-color: orange;
}


