@inherits LayoutComponentBase

<PageTitle>BlazorServerWebsite</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-secondary">
        <div class="top-row px-4 bg-primary justify-content-center align-items-center" style="text-align:center;">
            <p class="align-self-center fw-bold" style="margin-bottom:0">I'm Matt I'm a C# .NET developer. This site is my sandbox. So if you've stumbled upon it. Welcome and <span class="alert-danger">Beware</span> 😁</p>
        </div>

        <article id="Wrapper" class="content px-4 flex-column">
            @Body
        </article>
    </main>
</div>
