@page "/timer"

<h3>Windows Timer (@counter)</h3>
<button @onclick="StartTimer" class="btn btn-warning">Start Windows Timer</button>

<h3>JavaScript Timer (<span id="jsCounter">***</span>)</h3>
<button @onclick="JsTimer" class="btn btn-warning">Start JS Timer</button>
