@page "/"
@page "/fileReading"

<h5>Read txt file and output txt</h5>
<InputFile OnChange="ReadText" accept=".txt"></InputFile>
<p>@Txt</p>

<br />
<hr />

<h5>Save file</h5>
<InputFile OnChange="SaveFile"></InputFile>

<br />
<hr />

<h5>Read JSON</h5>
<InputFile OnChange="ReadJson" accept=".json"></InputFile>
@if (MyCard is not null)
{
    <p>Card Title: @MyCard.Title - Card Text: @MyCard.Text</p>
}

<br />
<hr />

<h5>Open Image</h5>
<img id="ImgTarget" />
<InputFile accept=".jpg" OnChange="OpenImage"></InputFile>
